.nomPrenom {
  position: relative;
  text-align: right;
  font-size: 27px;
  padding: 1em;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #505050;
  height: 200px;
  width: 42%;
  left: 25px;
}

body {
  height: 1300px;
}

.photo {
  position: relative;
  top: -240px;
  left: 4%;
  height: 10px;
}

.photo img {
  width: 170px;
  height: 220px;
}

.contact {
  position: relative;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
  top: 15px;
  width: 40%;
  height: 254px;
  font-size: 18px;
  left: 57.7%;
  top: -270px;
}

/*-----------------------------------------------*/
/*PRESENTATION*/
/*-----------------------------------------------*/

.presentation {
  position: relative;
  text-align: center;
  border: 3px solid black;
  width: 96.5%;
  height: 250px;
  left: 25px;
  top: -200px;
  border-radius: 5px;
  overflow: hidden;
}

.presentation .Title {
  font-size: 55px;
  margin-top: 0px;
}

.presentation .Text {
  font-size: 20px;
  margin-top: -20px;
}

/*-----------------------------------------------*/
/*EXPERIENCE*/
/*-----------------------------------------------*/


.experience {
  position: relative;
  text-align: center;
  border: 3px solid black;
  width: 46.5%;
  top: -90px;
  height: 285px;
  left: 25px;
  border-radius: 5px;
  font-size: 25px;
  overflow: hidden;
}

.experience .Title {
  font-size: 50px;
  margin-top: 0px;
}

.experience .Text {
  font-size: 25px;
  margin-top: -40px;
}

/*-----------------------------------------------*/
/*ABILITIES*/
/*-----------------------------------------------*/

.abilities {
  position: relative;
  text-align: center;
  border: 3px solid black;
  width: 40%;
  height: 285px;
  left: 57.7%;
  top: -380px;
  border-radius: 5px;
  font-size: 25px;
  overflow: hidden;
}

.abilities .Title {
  font-size: 50px;
  margin-top: 0px;
}
.abilities .unity{
  text-align: left;
  margin-left: 25px;
  margin-top: -20px;
}
.abilities .html{
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
}
.abilities .html .text{
  margin-top: -30px;
  margin-left: 35px;
}
.abilities .gitKraken{
  text-align: left;
  margin-left: 25px;
}

.abilities .VFX{
  text-align: right;
  margin-top: -130px;
  margin-right: 200px;
}

.portfolio {
  position: relative;
  text-align: center;
  border: 3px solid black;
  left: 25px;
  top: -300px;
  width: 96.5%;
  border-radius: 5px;
  font-size: 25px;
}

.portfolio .Title{
  font-size: 50px;
  margin-top: 0px;
}
.portfolio .Text{
  font-size: 25px;
  margin-top: -40px;
}
/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/



@media all and (max-width : 1200px) {
  .nomPrenom {
    height: 180px;
    width: 45%;
    left: 5px;
  }

  .photo {
    top: -220px;
    left: 2%;
    height: 10px;
  }

  .photo img {
    width: 150px;
    height: 200px;
  }

  .contact {
    width: 47%;
    height: 232px;
    left: 52%;
    top: -248px;
  }

  /*-----------------------------------------------*/
  /*PRESENTATION*/
  /*-----------------------------------------------*/

  .presentation {
    width: 98.5%;
    left: 5px;
    top: -225px;

  }


  /*-----------------------------------------------*/
  /*ABILITIES*/
  /*-----------------------------------------------*/

  .abilities {
    width: 47%;
    height: 285px;
    left: 52%;
    top: -481px;
  }


  /*-----------------------------------------------*/
  /*EXPERIENCE*/
  /*-----------------------------------------------*/


  .experience {
    width: 50%;
    top: -190px;
    height: 285px;
    left: 5px;
  }


  .portfolio {
    left: 5px;
    top: -450px;
    width: 98.5%;
  }
}

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/


@media all and (max-width : 992px) {
  .nomPrenom {
    height: 180px;
    width: 450px;
    left: 0px;
  }

  body {
    height: 1150px;
    padding-right: 960px;
  }

  .photo {
    top: -220px;
    left: 20px;
    height: 10px;

  }

  .photo img {
    width: 155px;
    height: 205px;

  }

  .contact {
    width: 435px;
    height: 232px;
    left: 525px;
    top: -248px;
  }

  /*-----------------------------------------------*/
  /*PRESENTATION*/
  /*-----------------------------------------------*/

  .presentation {
    width: 960px;
    height: 250px;
    left: 0px;
    top: -225px;

  }


  /*-----------------------------------------------*/
  /*ABILITIES*/
  /*-----------------------------------------------*/

  .abilities {
    width: 425px;
    height: 285px;
    left: 535px;
    top: -481px;
  }


  /*-----------------------------------------------*/
  /*EXPERIENCE*/
  /*-----------------------------------------------*/


  .experience {
    width: 510px;
    top: -190px;
    height: 285px;
    left: 0px;
  }

  .portfolio {
    left: 0px;
    top: -450px;
    width: 960px;
  }
}

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/

@media all and (max-width: 600px) {
  .nomPrenom {
    height: 180px;
    width: 880px;
    left: 5px;
  }

  body {
    height: 1800px;
  }

  .photo {
    top: -229px;
    left: 40px;
    height: 5px;

  }

  .photo img {
    width: 170px;
    height: 220px;

  }

  .contact {
    width: 935px;
    height: 232px;
    left: 5px;
    top: 10px;
  }

  /*-----------------------------------------------*/
  /*PRESENTATION*/
  /*-----------------------------------------------*/

  .presentation {
    width: 935px;
    height: 250px;
    left: 5px;
    top: 30px;

  }


  /*-----------------------------------------------*/
  /*ABILITIES*/
  /*-----------------------------------------------*/

  .abilities {
    width: 935px;
    height: 275px;
    left: 5px;
    top: 70px;
  }


  /*-----------------------------------------------*/
  /*EXPERIENCE*/
  /*-----------------------------------------------*/


  .experience {
    width: 935px;
    top: 50px;
    height: 275px;
    left: 5px;
  }

  .portfolio {
    left: 5px;
    top: 90px;
    width: 935px;
  }
}