.nomPrenom {
  text-align: right;
  font-size: 27px;
  padding: 1em;
  border: 2px solid black;
  border-radius: 50px;
  background-color: #505050;
  position: relative;
  height: 200px;
  width: 45%;
}

.photo {
  position: relative;
  top: -245px;
  left: 4%;
  height: 10px;

}

.contact {
  position: relative;
  text-align: center;
  border: 3px solid black;
  border-radius: 25px;
  top: 15px;
  width: 760px;
  height: 254px;
  font-size: 18px;
  left: 55%;
  top: -270px;
}

/*-----------------------------------------------*/
/*PRESENTATION*/
/*-----------------------------------------------*/

.presentation {
  position: relative;
  text-align: center;
  border: 3px solid black;
  width: 94%;
  height: 250px;
  left: 25px;
  top: -240px;
  border-radius: 25px;
  font-size: 70px;
  overflow: hidden;

}

.presentation:before {
  content: attr(data-title);
  position: relative;
  top: 60px;
  font-size: 100px;
  transition: .5s;
  opacity: 1;
}

.presentation::after {
  content: attr(data-text);
  position: absolute;
  width: 94%;
  height: 250px;
  font-weight: 300;
  letter-spacing: 20px;
  font-size: 35px;
  top: 5px;
  left: 50px;
  transition: 1s;
  opacity: 0;
}

.presentation:hover::before {
  transition: 1s;
  opacity: 0;
  font-size: 0px;
}


.presentation:hover::after {
  transition: 1s;
  letter-spacing: 1px;
  opacity: 1;
}

/*-----------------------------------------------*/
/*ABILITIES*/
/*-----------------------------------------------*/

.abilities {
  position: relative;
  text-align: center;
  border: 3px solid black;
  width: 900px;
  height: 285px;
  left: 900px;
  top: -490px;
  border-radius: 25px;
  font-size: 25px;
  overflow: hidden;
}

.abilities:before {
  content: attr(data-title);
  position: relative;
  top: 80px;
  font-size: 100px;
  transition: .5s;
  opacity: 1;
}

.abilities::after {
  content: attr(data-text);
  position: absolute;
  width: 94%;
  height: 270px;
  font-weight: 300;
  letter-spacing: 30px;
  font-size: 25px;
  top: 25px;
  left: 25px;
  transition: 1s;
  opacity: 0;
}

.abilities:hover::before {
  transition: 1s;
  font-size: 0px;
  opacity: 0;

}


.abilities:hover::after {
  transition: 1s;
  letter-spacing: 1px;
  opacity: 1;
}

/*-----------------------------------------------*/
/*EXPERIENCE*/
/*-----------------------------------------------*/


.experience {
  position: relative;
  text-align: center;
  border: 3px solid black;
  width: 800px;
  top: -200px;
  height: 285px;
  left: 25px;
  border-radius: 25px;
  font-size: 25px;
  overflow: hidden;
}

.experience:before {
  content: attr(data-title);
  position: relative;
  top: 80px;
  font-size: 100px;
  transition: .5s;
  opacity: 1;
}

.experience::after {
  content: attr(data-text);
  position: absolute;
  width: 94%;
  height: 250px;
  font-weight: 300;
  letter-spacing: 20px;
  font-size: 25px;
  top: 10px;
  left: 25px;
  transition: 1s;
  opacity: 0;
}

.experience:hover::before {
  transition: 1s;
  font-size: 0px;
  opacity: 0;

}


.experience:hover::after {
  transition: 1s;
  letter-spacing: 1px;
  opacity: 1;
}

.portfolio {
  position: relative;
  text-align: center;
  border: 3px solid black;
  left: 25px;
  top: -450px;
  width: 94%;
  border-radius: 50px;
  font-size: 25px;
}